* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  transform: translate();
  height: 300px;
  width: 250px;
  margin: 0;
  padding: 0;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
