* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  position: absolute;
  transform: translate();
  display: flex;
  flex-direction: column;
  align-items: center;
}
