* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
.imgSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
*/
/*
.imgContainer {
  height: 300px;
  width: 250px;
  overflow: hidden;
  object-fit: cover;
}
*/
