body {
  margin: 0 auto;
  background-color: white;
}

/* Background image & Logo */
.container img {
  border: 1px solid black;
}

/* Background image */
.image1 {
  position: relative;
  top: 0;
  left: 0;
}

/* Logo */
.image2 {
  position: absolute;
  top: 0px;
  left: 0px;
}

